.about {
    width: 100%;

    & h2,
    h3 {
        @include font-title();
        color: var(--font-color-secondary);
        text-align: center;
    }
}
.about__goals, 
.about__team {
    display: flex;
    flex-direction: column;
    gap: $base-size * 3;
    margin-bottom: $base-size * 3;
}
.team-members-grid {
    width: 90%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $base-size * 3;
    margin: 0 auto;
}
.team-member {
    @include font-main();
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $base-size * 4;
    padding: $base-size * 4;
    background-color: var(--bg-block);
    border-radius: $base-size * 2;
}
.team-member__role {
    & p {
        @include font-main();
        font-weight: 600;
        text-align: center;
        display: block;
        color: var(--font-color-main);
    }
}
.team-member__description {
    color: var(--font-main);
    text-align: justify;
}
.team-member__avatar {
    display: flex;
    justify-content: center;
    
    img {
    max-width: 80%;
    border-radius: 100%;
    border: 1px solid var(--border-color);
    }  
}
.team-member__git{
    margin-top: auto;
}