.feed-page__wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feed-feed__wrapper {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}

.options {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 30px;
  height: 100%;
  border-left: 2px solid var(--border-color);
  row-gap: 30px;

  &__title {
    @include font-title();
    color: var(--font-color-secondary);
  }

  &__search {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &_input {
      display: flex;
      height: 30px;

      input {
        width: 90%;
        height: 100%;
        border-radius: 3px 0 0 3px;
        border: 1px solid var(--input-border);
        border-right: none;
        background-color: var(--bg-input);
        outline: none;
        padding: 5px 0 0 5px;

        &::placeholder {
          color: --font-color-auxiliary;
          font-size: 16px;
        }
      }
    }

    button {
      height: 100%;
      width: 30px;
      padding: 0;
      border-radius: 0 3px 3px 0;
      border: 1px solid var(--input-border);
      border-left: none;
      background-color: var(--bg-input);
      outline: none;
      background-color: var(--bg-input);

      .icon-search {
        height: 100%;
        width: 100%;
        background-image: url(../assets/images/search.svg);
        background-repeat: no-repeat;
        background-size: contain;
        //filter: var(--filter-SVG-input);
        cursor: pointer;
      }
    }
  }

  .sort {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: var(--font-color-secondary);

    .ascending {
      transform: scaleY(-1);
    }

    .btn-sort {
      background-color: transparent;
      background-image: url("../../src/assets/images/descending-sort.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: var(--filter-SVG-input);
      cursor: pointer;
      border: none;
      width: 1.5rem;
      height: 1.1rem;
      border-radius: 5px;

      &_active {
        background-image: url("../../src/assets/images/descending-sort.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: var(--filter-SVG-input);
        cursor: pointer;
        border: none;
        width: 1.5rem;
        height: 1.1rem;
        border-radius: 5px;
        background-color: var(--bg-input);
      }

      &:hover {
        background-color: var(--bg-input);
      }
    }

    .btn-filter {
      background-color: transparent;
      background-image: url("../../src/assets/images/filter.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: var(--filter-SVG-input);
      cursor: pointer;
      border: none;
      width: 1.5rem;
      height: 1.1rem;
      border-radius: 5px;

      &_active {
        background-image: url("../../src/assets/images/filter.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: var(--filter-SVG-input);
        cursor: pointer;
        border: none;
        width: 1.5rem;
        height: 1.1rem;
        border-radius: 5px;
        background-color: var(--bg-input);
      }

      &:hover {
        background-color: var(--bg-input);
      }
    }

    &__item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: var(--font-color-main);
    }
  }
  .theme {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: var(--font-color-secondary);

    &__item {
      display: flex;
      width: 100%;
      color: var(--font-color-main);
      column-gap: 30px;
    }
  }
}
.button-icon {
  cursor: pointer;
}
.btn-filter {
  background-color: transparent;
  background-image: url("../../src/assets/images/filter.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--filter-SVG-input);
  cursor: pointer;
  border: none;
  width: 1.5rem;
  height: 1.1rem;
  border-radius: 5px;

  &_active {
    background-image: url("../../src/assets/images/filter.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--filter-SVG-input);
    cursor: pointer;
    border: none;
    width: 1.5rem;
    height: 1.1rem;
    border-radius: 5px;
    background-color: var(--bg-input);
  }

  &:hover {
    background-color: var(--bg-input);
  }
}
