.feed-page__wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.feed-feed__wrapper {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
}

.blog {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--bg-block);

  //Блок картинка+автор и дата+ название

  &-info {
    width: 100%;
    height: 78%;

    &__image {
      height: 80%;
      width: 100%;
      border-radius: 10px 10px 0 0;
      background-size: cover;
      background-position: center;
    }

    &__caption {
      padding: 2px 7px 5px 7px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 10px;
      color: var(--font-color-auxiliary);
    }

    &__title {
      display: flex;
      padding: 0 7px;
      @include font-title();
      color: var(--font-color-secondary);
      justify-content: space-between;

      &_category {
        font-size: 10px;
        color: var(--font-color-auxiliary);
      }
    }
  }

  //Текст блога

  &__text {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--font-color-main);
    @include font-post();
    padding: 2px 7px;
  }
  //Лайки кнопка ПОДРОБНЕЕ
  &__count {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2px 7px;

    button {
      background-color: transparent;
      border: none;
      font-size: 11px;
      color: var(--font-color-auxiliary);
    }
  }
}

.icon {
  padding: 0 7px;
  width: 100px;
  display: flex;
  column-gap: 10px;
  color: var(--font-color-main);
  font-size: 12px;

  .icon__view,
  .icon__comment,
  .icon__like {
    display: flex;
    column-gap: 5px;

    &_img {
      width: 16px;
      filter: var(--filter-SVG);
      background-image: url("../assets/images/view.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .icon__comment_img {
    background-image: url("../assets/images/comment-Regular.svg");
  }

  .icon__like_img {
    background-image: url("../assets/images/like.svg");
  }
}
