.feed-page__wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.feed-feed__wrapper {
  width: 70%;
  height: 100%;
  overflow-y: scroll;

  .blog {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 0 5px 0;
    margin-top: 10px;
    border-radius: 10px;
    row-gap: 7px;
    box-sizing: border-box;
    background-color: var(--bg-block);

    &__count {
      display: flex;
      width: 100%;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        font-size: 11px;
        color: var(--font-color-auxiliary);
      }
    }

    &__text {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-height: 1.1em;
      height: 3.9em;
      color: var(--font-color-main);
      font-size: 14px;
      box-sizing: border-box;
      padding: 2px 7px;

      &_wrapper {
        height: 15%;
        overflow: hidden;
      }
    }

    &-info {
      width: 100%;
      height: 85%;

      &__image {
        height: 80%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-position: center;
      }

      &__image_no-img {
        height: 80%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        background: var(--bg-input);
        position: relative;

        &::after {
          content: "Изображение не было загружено";
          font-size: 10px;
          align-items: end;
          justify-content: end;
          height: 100%;
          width: 100%;
          display: flex;
          padding: 10px;
          box-sizing: border-box;
        }
      }

      &__caption {
        box-sizing: border-box;
        padding: 2px 7px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 10px;
        color: var(--font-color-auxiliary);
      }

      &__title {
        display: flex;
        box-sizing: border-box;
        padding: 2px 7px;
        color: var(--font-color-secondary);
        justify-content: space-between;
        font-size: 18px;

        &_category {
          font-size: 10px;
          color: var(--font-color-auxiliary);
        }
      }
    }
  }
}

.icon {
  box-sizing: border-box;
  padding: 0 7px;
  width: 100px;
  display: flex;
  color: var(--font-color-main);
  font-size: 12px;

  .icon__view,
  .icon__comment,
  .icon__like {
    display: flex;
    column-gap: 5px;

    &_img {
      width: 16px;
      filter: var(--filter-SVG);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.options {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 30px;
  height: 100%;
  border-left: 2px solid var(--border-color);
  row-gap: 30px;

  &__title {
    @include font-title();
    color: var(--font-color-secondary);
  }

  &__search {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &_input {
      display: flex;
      height: 30px;

      input {
        width: 90%;
        height: 100%;
        border-radius: 3px 0 0 3px;
        border: 1px solid var(--input-border);
        border-right: none;
        background-color: var(--bg-input);
        outline: none;
        padding: 5px 0 0 5px;

        &::placeholder {
          color: --font-color-auxiliary;
          font-size: 16px;
        }
      }
    }

    button {
      height: 100%;
      width: 30px;
      padding: 0;
      border-radius: 0 3px 3px 0;
      border: 1px solid var(--input-border);
      border-left: none;
      background-color: var(--bg-input);
      outline: none;
      background-color: var(--bg-input);

      .icon-search {
        height: 100%;
        width: 100%;
        background-image: url(../assets/images/search.svg);
        background-repeat: no-repeat;
        background-size: contain;
        //filter: var(--filter-SVG-input);
        cursor: pointer;
      }
    }
  }

  .sort {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &__item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: var(--font-color-secondary);
    }
  }
  .theme {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &__item {
      display: flex;
      width: 100%;
      color: var(--font-color-secondary);
      column-gap: 30px;
    }
  }
}
.button-icon {
  cursor: pointer;
}
