.menu-icon {
  min-width: 7rem;
  text-align: end;
  z-index: 2;
  & img {
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
      
    &:hover {
      cursor: pointer;
    } 
  }
}
.menu-icon_active {
  & img {
    transform: scaleX(-1);
  }
}
.menu {
  @include font-navigation();
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  z-index: 1;

  .menu-content {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    transform: translateX(40%);
    min-width: 40%;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #f7f7f7;
  }

  .disabled {
    height: 100%;
    width: 100%;
    background-color: #00000050;
    opacity: 0;
  }

}
.menu_active {
    opacity: 1;
    transform: translateX(0%);

    .menu-content {
      transform: translateX(0%);
    }

    .disabled {
      opacity: 1;
      transform: translateX(-40%);
    }
}
.menu-content,
.disabled {
  transition: all .3s ease-out;
}
.menu-content__list {
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
