.menu-btn {
  z-index: 2;
  display: flex;
  align-items: center;

  & img {
    width: 65px;
    height: 60px;
    transition: all .3s ease-in-out;
    filter: brightness(40%);
      
    &:hover {
      cursor: pointer;
      filter: brightness(20%);
    } 
  }
}
.menu-btn_active {
  & img {
    transform: scaleX(-1);
  }
}
.dark .menu-btn img {
  filter: brightness(200%);
}
.menu {
  @include font-main();
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 10px);
  width: 100%;
  box-sizing: border-box;
  transform: translateX(300%);
  z-index: 1;
  transition: all .2s ease-in;

  .menu-content {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    height: fit-content;
    transform: translateX(30rem);
    min-width: 18rem;
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: var(--bg-menu);
    border-radius: 10% 0 10% 10%;
    z-index: 2;
  }
}
.disabled {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(300%);
  z-index: 1;

  &_active {
    transform: translateX(0%);
  }

}
.menu_active {
  transform: translateX(0%);

  & .menu-content{
    transform: translateX(0rem);
  }
}
.menu-content {
  transition: all .3s ease-in-out;
}
.menu-content__list {
  display: flex;
  flex-direction: column;
  gap: $base-size * 6;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0;
  margin-top: 60px;
}
.menu-content__item{
  display: flex;
  align-items: center;
  gap: $base-size * 2;
  
  & label:hover {
    cursor: pointer;
  }
}

.btn-toggle {
  width: 40px;
  height: 40px;
  transition: all .3s ease;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
}
.theme-toggle {
  background-image: url("../assets/images/theme.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.lang-toggle {
  background-image: url("../assets/images/lang.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.statistics-icon {
  width: 40px;
  height: 40px;
  background-image: url("../assets/images/statistics.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.dark .statistics-icon {
  filter: drop-shadow(0 0 2px white);
}