@mixin close-btn {
  display: block;
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: var(--font-color-secondary);
  content: "";
  top: 50%;
  left: 10%;
}

@mixin bg-border {
  background-color: var(--bg-btn);
  border: 1px solid var(--font-color-secondary);
}

.post-page__wrapper {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.post {
  &__wrapper {
    height: 100%;
    width: 60%;
    background-color: var(--bg-block);
    border-radius: 25px;
    border: 1px solid var(--input-border);
    padding: 3px 5px;
  }

  &__caption {
    box-sizing: border-box;
    padding: 2px 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: var(--font-color-auxiliary);
  }

  &__title {
    @include font-title();
    display: flex;
    box-sizing: border-box;
    padding: 2px 7px;
    color: var(--font-color-secondary);
    justify-content: space-between;
    font-size: 18px;
  }

  &__caption,
  &__title {
    padding: 5px 30px;
  }
  &__image {
    height: 30%;
    width: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
  }
  &__text {
    box-sizing: border-box;
    width: 100%;
    height: 46%;
    overflow-y: scroll;
    padding: 0px 30px;

    p {
      width: 100%;
      color: var(--font-color-main);
      text-align: justify;
      @include font-post();
    }
  }

  &__buttons {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;

    &_icons {
      height: 18px;
      display: flex;
      column-gap: 10px;
      align-items: flex-end;
    }

    .icon__change {
      height: 100%;
      column-gap: 20px;
      display: flex;

      &_edit {
        height: 100%;
        width: 20px;
        filter: var(--filter-SVG);
        background-image: url("../assets/images/svg-edit.svg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      &_delete {
        height: 100%;
        width: 20px;
        filter: var(--filter-SVG);
        background-image: url("../assets/images/svg-delete.svg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}
.icon {
  button {
    background-color: transparent;
    align-self: end;
    border: none;
    font-size: 14px;
    color: var(--font-color-auxiliary);
  }
}

.comments {
  box-sizing: border-box;
  height: 73%;
  width: 38%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-block);
  border-radius: 25px;
  row-gap: 30px;
  border: 1px solid var(--input-border);
  padding: 15px 25px 25px 25px;

  &__button-close {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include bg-border();
    position: relative;

    &::after {
      @include close-btn();
      transform: rotate(45deg);
    }
    &::before {
      @include close-btn();
      transform: rotate(-45deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 40%;
    overflow-y: scroll;

    .comment-item {
      display: flex;
      column-gap: 20px;
      height: 40px;
      align-items: center;

      &__user {
        height: 100%;
        width: 40px;
        border-radius: 50%;
        @include bg-border();
        font-size: 30px;
        text-align: center;
      }

      &__text {
        font-weight: 700;
      }
    }
  }

  textarea {
    resize: none;
    height: 20%;
    @include bg-border();
    border-radius: 5px;

    &:focus::placeholder {
      color: transparent;
    }

    &::placeholder {
      color: var(--font-color-btn);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    height: 30px;

    .btn_small {
      width: 35%;
      height: 100%;
      padding: 0;
    }
  }
}
