.post-page__wrapper {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post {
  &__wrapper {
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-block);
    border-radius: $base-size * 2;
    border: 1px solid var(--input-border);
    padding: 3px 5px;
  }

  &__caption {
    box-sizing: border-box;
    padding: 2px 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-post();
    color: var(--font-color-auxiliary);
  }

  &__title {
    @include font-title();
    display: flex;
    box-sizing: border-box;
    padding: 2px 7px;
    color: var(--font-color-secondary);
    justify-content: space-between;
    font-size: 18px;
  }

  &__caption,
  &__title {
    padding: 5px 30px;
  }
  &__image {
    height: 30%;
    width: 100%;
    border-radius: $base-size * 2;
    background-size: cover;
    background-position: center;
  }
  &__text {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    overflow-y: scroll;
    padding: 0px 30px;

    p {
      width: 100%;
      color: var(--font-color-main);
      text-align: justify;
      @include font-post();
    }
  }
}

.post__buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: $base-size * 4;

  &_icons {
    height: 18px;
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
  }

  .icon__change {
    display: flex;
    gap: $base-size;

    &_edit {
      height: 100%;
      width: 20px;
      filter: var(--filter-SVG);
      background-image: url("../assets/images/svg-edit.svg");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    &_delete {
      height: 100%;
      width: 20px;
      filter: var(--filter-SVG);
      background-image: url("../assets/images/svg-delete.svg");
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}

.icon {
  box-sizing: border-box;
  display: flex;
  color: var(--font-color-main);
  font-size: 12px;

  .icon__view,
  .icon__comment,
  .icon__like {
    display: flex;
    column-gap: 5px;

    &_img {
      width: 16px;
      filter: var(--filter-SVG);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.button-icon {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: $base-size;
  border: none;
  @include font-post();
  color: var(--font-color-main);
}

.comments {
  box-sizing: border-box;
  height: 100%;
  width: 38%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-block);
  border-radius: $base-size * 2;
  row-gap: 30px;
  border: 1px solid var(--input-border);
  padding: 15px 25px 25px 25px;

  &__button-close {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: linear-gradient(45deg, transparent 45%, var(--border-color) 45%, var(--border-color) 51%, transparent 51%),
    linear-gradient(-45deg, transparent 45%, var(--border-color) 45%, var(--border-color) 51%, transparent 51%);
    scale: 0.9;
    transition: all .3s ease;

    &:hover {
      cursor: pointer;
      scale: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: $base-size * 4;
    flex-grow: 1;
    overflow-y: scroll;
   padding: $base-size * 2 0;

    .comment-item {
      display: flex;
      column-gap: 20px;
      height: 40px;
      align-items: center;

      &__user {
        @include font-post();
        color: var(--font-color-secondary);
        font-weight: 600;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-color);
        background-color: var(--bg-comments);
      }
    }
  }

  textarea {
    resize: none;
    width: 100%;
    border-radius: $base-size;
    box-sizing: border-box;
    @include font-main();
    color: var(--font-color-main);
    background-color: var(--bg-comments);

    &:focus::placeholder {
      color: transparent;
    }

    &::placeholder {
      @include font-main();
      color: var(--font-color-auxiliary);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    height: 30px;
  }
}
