.form-container {
    display: flex;
    height: calc(100vh - 20rem);
    align-items: center;
    justify-content: center;
}
.form-inner {
   display: flex;
   flex-direction: column;
   gap: $base-size * 5;
}
.auth-form-title {
    @include font-title();
    text-align: center;
}
.label {
    display: block;
}
.confirm-btns {
    display: flex;
    gap: $base-size * 3;
    align-items: center;
}
.login-link {
   color: var(--font-color-auxiliary);
   
   &:hover {
    color: var(--font-color-secondary);
   }
}